#venta{

	

	margin-left: 200;
	margin-right: 200;
	margin-top: 200;
	height: 400;
	border-radius: 55px;
	border-color: gray;
	border-style: outset;


 
	}
#venta2{
	background-color: black;
	margin-left: 20;
	margin-right: 20;
	margin-top: 20;
	height: 200;
	border-radius: 55px;
	

	}	