.reporte{

	
	margin-top: 70px;
	margin-left: 170px;
	margin-right: 170px;
	border-color: gray;
	border-style: groove;

	height: 200px;
	width: 700px;


}
.reporte2{

	
	margin-top: 70px;
	margin-left: 170px;
	margin-right: 170px;
	border-color: gray;
	border-style: groove;

	height: 200px;
	width: 700px;


}
.reporte3{

	
	margin-top: 70px;
	margin-left: 170px;
	margin-right: 170px;
	border-color: gray;
	border-style: groove;

	height: 200px;
	width: 700px;


}

.vermas{
 	margin-top: 6px;
	margin-left: 770px;
	margin-right: 170px;
		

	height: 40px;
	width: 100px;
	}